<h2>Skills (<%= @skills.length %>)</h2>

<p>Click a skill name to visit the wiki</p>

<table class="table table-condensed">
  <thead>
    <tr>
      <th class="row-icon"><!-- icon column --></th>
      <th class="row-id">Id</th>
      <th class="row-scripts">Scripts</th>
      <th class="row-name">Skill Name</th>
      <th class="row-members-only">Members Only?</th>
      <th class="row-description">Description</th>
      <th class="row-created">Created</th>
      <th class="row-updated">Updated</th>
    </tr>
  </thead>

  <tbody>
    <% @skills.each do |skill| %>
      <tr>
        <td><img src="<%= skill.icon_url %>" alt="icon" class="icon"/></td>
        <td><%= skill.id %></td>
        <td class="data-scripts"><%= link_to skill.scripts.length, skill %></td>
        <td><%= link_to skill.name, skill.wiki_url %></td>
        <td><%= skill.members_only %></td>
        <td><%= skill.description %></td>
        <td><%= time_ago_in_words skill.created_at %> ago</td>
        <td><%= time_ago_in_words skill.updated_at %> ago</td>
      </tr>
    <% end %>
  </tbody>
</table>
